@page "/charttest"
@using DietTrackerBlazorServer.Components
@inherits DTComponentBase

@*<h3>ChartTest</h3>*@
@*<LineChart TItem="ChartPoint" @ref="Chart" Options="@ChartOptions"></LineChart>*@

<BasicChart></BasicChart>


