@page "/newdatapoint"
@using DietTrackerBlazorServer.Model
@*@using System.Text.Json*@
@*@inject HttpClient httpClient*@

@if (Loaded == true)
{
    <Row>
        <Column>
            <Card>
                <CardHeader>New health data point</CardHeader>
                <CardBody>

                    @*<Form>
                        <Field>
                            <FieldLabel>Date</FieldLabel>
                            <DatePicker TValue="DateTime"></DatePicker>
                        </Field>

                        <Field>
                            <FieldLabel>Energy</FieldLabel>
                            <Slider id="energy" @bind-Value="HealthDataPoint.Energy" Min="0" Max="10" TValue="int"></Slider>
                        </Field>

                        <Field>
                            <FieldLabel>Mood</FieldLabel>
                            <Slider @bind-Value="HealthDataPoint.Mood" Min="0" Max="10" TValue="int"></Slider>
                        </Field>

                        <Field>
                            <FieldLabel>Anxiety</FieldLabel>
                            <Slider @bind-Value="HealthDataPoint.Anxiety" Min="0" Max="10" TValue="int"></Slider>
                        </Field>

                        <Field>
                            <FieldLabel>Sleep</FieldLabel>
                            <Slider @bind-Value="HealthDataPoint.Sleep" Min="0" Max="10" TValue="int"></Slider>
                        </Field>

                        <Button Clicked="@Submit" Color="Color.Primary">Submit</Button>
                    </Form>*@

                </CardBody>
            </Card>
        </Column>
        <Column>
            <Card>
                <CardHeader>Graph</CardHeader>
            </Card>
        </Column>
    </Row>
}
else
{
    <Container>
        <Text>Loading...</Text>
    </Container>
}




