

<AuthorizeView>
    <Authorized>
        <MudLink Color="Color.Inherit" Href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</MudLink>
        <form method="post" action="Identity/Account/LogOut">
            <MudButton Color="Color.Inherit" ButtonType="ButtonType.Submit">Log out</MudButton>
        </form>
    </Authorized>
    <NotAuthorized>
        <MudLink Class="me-3" Color="Color.Inherit" Href="Identity/Account/Register">Register</MudLink>
        <MudLink Color="Color.Inherit" Href="Identity/Account/Login">Log in</MudLink>
    </NotAuthorized>
</AuthorizeView>

