@inherits DTComponentBase

<AuthorizeView>
    <Authorized>
        <MudLink Color="Color.Inherit" Href="Identity/Account/Manage">@context.User.Identity.Name</MudLink>

        @* <form method="post" asp-area="Identity" asp-page="/Account/Logout"> *@
        <MudLink Class="ml-6" Color="Color.Inherit" Href="Identity/Account/LogOut">Log Out</MudLink>
        @* <MudButton OnClick="@OnLogoutClicked" Class="ml-4 mud-link-underline-hover" Color="Color.Inherit" ButtonType="ButtonType.Submit">Log out</MudButton> *@
        @* </form> *@

        @* <MudButton Color="Color.Inherit" ButtonType="ButtonType.Submit">Log out</MudButton> *@
    </Authorized>
    <NotAuthorized>
        <MudLink Class="me-3" Color="Color.Inherit" Href="Identity/Account/Register">Register</MudLink>
        <MudLink Color="Color.Inherit" Href="Identity/Account/Login">Log in</MudLink>
    </NotAuthorized>
</AuthorizeView>