@using Microsoft.AspNetCore.Identity
@inherits LayoutComponentBase



<Layout Sider>

    <CascadingValue Value="@SnackbarStack">


        <LayoutSider>
            <LayoutSiderContent Flex="Flex.Shrink.Is1">
                <Bar Mode="BarMode.VerticalInline"
                     CollapseMode="BarCollapseMode.Hide"
                     @ref="Bar"
                     Flex="Flex.Shrink">

                    <BarStart>

                        <BarItem>
                            <BarLink To="HealthMetrics">
                                <BarIcon IconName="IconName.Add"></BarIcon>
                                Health metrics
                            </BarLink>
                        </BarItem>
                        <BarItem>
                            <BarLink To="DataPoints">
                                <BarIcon IconName="IconName.Add"></BarIcon>
                                Data points
                            </BarLink>
                        </BarItem>
                        <BarItem>
                            <BarLink To="Stats">
                                <BarIcon IconName="IconName.Add"></BarIcon>
                                Stats
                            </BarLink>
                        </BarItem>
                    </BarStart>
                </Bar>
            </LayoutSiderContent>
        </LayoutSider>
        <Layout>

            <LayoutHeader Border="Border.OnBottom.Secondary" Background="Background.Light">
                <Bar Mode="BarMode.Horizontal">
                    <BarStart Flex="Flex.Row">
                        <Blazorise.Bootstrap.BarToggler Bar="@Bar"></Blazorise.Bootstrap.BarToggler>
                        <Heading Size="HeadingSize.Is2">Diet Tracker</Heading>
                    </BarStart>
                    <BarEnd>
                        <AuthorizeView>
                            <Authorized>
                                <BarItem>
                                    <Text>Logged in as @UserEmail. <a href="/Identity/Account/Logout">Logout</a></Text>
                                </BarItem>
                            </Authorized>
                            <NotAuthorized>
                                <BarItem>
                                    <Link To="Identity/Account/Login">Login</Link>
                                </BarItem>
                                <BarItem>
                                    <Link To="Identity/Account/Register">Register</Link>
                                </BarItem>
                            </NotAuthorized>
                        </AuthorizeView>
                    </BarEnd>
                </Bar>
            </LayoutHeader>

            <LayoutContent Margin="Margin.Is3">
                <AuthorizeView>
                    <Authorized>
                        @Body
                    </Authorized>
                    <NotAuthorized>
                        <Heading Size="HeadingSize.Is2">
                            Please <a href="/Identity/Account/Login">login</a> to access site features.
                        </Heading>
                    </NotAuthorized>
                </AuthorizeView>
            </LayoutContent>
        </Layout>

        <SnackbarStack @ref="SnackbarStack" />

    </CascadingValue>
</Layout>


