@page
@model DietTrackerBlazorServer.Areas.Identity.Pages.Account.ConfirmEmailModel

<h3>Email confirmation</h3>

@if (Model.success)
{
    <p>Your email has been confirmed.</p>
}
else
{
    <p>Failed to confirm email.</p>
}




@{
}
