@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}




<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

    <div class="d-flex justify-center mt-8">
        <div class="dt-panel">
            <div class="d-flex flex-column align-center gap-2">

                <h1>@ViewData["Title"]</h1>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="dt-input-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="dt-input" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="dt-input-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="dt-input" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="dt-input-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="dt-input" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg">Register</button>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
